@import

url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*===reset===*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*===variaveis===*/
}
:root {
     --cor-fundo: #F2D5D5; 
     --cor-detalhe: #eb9090; 
     --cor-texto-suave: #916B6B; 
     --cor-titulo: #a86262; 
     --texto: #7f3b3b; 
     /* cores do botao */
     --botao-bg: var(--cor-detalhe);
     --botao-hover:var(--cor-titulo);
     --botao-active: #8f4a4a;
    /* texto */
    --botao-texto: var(--cor-fundo);

    /* layout */
    --botao-padding-y: 12px;
    --botao-padding-x: 24px;
    --botao-radius:8px;

    /* animacao */
    --botao-transicao: 0.1s;
    }
    /*===global===*/

/*===reset===*/

*{

margin: 0;

padding: 0;

box-sizing: border-box;

/*===variaveis===*/

}

:root {
  --cor-fundo: #f2d5d5;
  --cor-card: #ffffff;
  --cor-detalhe: #eb9090;
  --cor-titulo: #a86262;
  --cor-texto: #7f3b3b;

  --radius: 12px;
}

/* ===== GLOBAL ===== */
body {
  background-color: var(--cor-fundo);
  font-family: "Poppins", sans-serif;
  color: var(--cor-texto);
}

/* ===== HEADER ===== */
.topo {
  background-color: var(--cor-titulo);
  color: white;
  text-align: center;
  padding: 24px;
}

.subtitulo {
  font-size: 14px;
  opacity: 0.9;
}

/* ===== MENU ===== */
.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
}

.menu li {
  cursor: pointer;
  transition: all 0.3;
}

.menu .ativo {
  font-weight: bold;
  text-decoration: underline;
}

.menu li:hover {
  opacity: 0.8;
}

/* ===== CONTAINER ===== */
.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;

  display: grid;
  gap: 24px;
}

/* ===== CARDS ===== */
.card {
  background-color: var(--cor-card);
  padding: 24px;
  border-radius: var(--radius);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.card h2 {
  color: var(--cor-detalhe);
  margin-bottom: 12px;
}

.card p {
  line-height: 1.6;
}

/* ===== LISTA ===== */
.lista-estudos {
  margin-top: 12px;
  padding-left: 20px;
}

.lista-estudos li {
  margin-bottom: 8px;
}

/* ===== BOTÃO ===== */
.botao {
  display: block;
  margin: 16px auto 0;
  background-color: var(--cor-detalhe);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.botao:hover {
  background-color: var(--cor-titulo);
}

/===peseudos-elementos===/

p::before {

content: "✨ ";

  }



  p::after {

    content: " ✨";

    }
