@import 
url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*===reset===*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*===variaveis===*/
}
:root {
     --cor-fundo: #F2D5D5; 
     --cor-detalhe: #eb9090; 
     --cor-texto-suave: #916B6B; 
     --cor-titulo: #a86262; 
     --texto: #7f3b3b; 
     /* cores do botao */
     --botao-bg: var(--cor-detalhe);
     --botao-hover:var(--cor-titulo);
     --botao-active: #8f4a4a;
    /* texto */
    --botao-texto: var(--cor-fundo);

    /* layout */
    --botao-padding-y: 12px;
    --botao-padding-x: 24px;
    --botao-radius:8px;

    /* animacao */
    --botao-transicao: 0.1s;
    }
    /*===global===*/
body{
    background-color: var(--cor-fundo);
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}
    /*===texto===*/
h2{
    color: var(--cor-detalhe);
}
p{
    color: var(--texto);
}
    /*===layout===*/
nav ul{
    color: var(--texto);
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

}
footer{
    color: rgb(184, 158, 166);
}

.topo{
    background-color: var(--cor-titulo);
    padding: 20px;
    text-align: center;
}
     /*===componentes===*/
.botao{
    background-color: var(--botao-bg);
    color: var(--botao-texto);
    padding: var(--botao-padding-y) var(--botao-padding-x);
    border: none;
    border-radius: var(--botao-radius);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color var(--botao-transicao), transform var(--botao-transicao);
}
    /*===estados===*/
.botao:hover{
    background-color: var(--botao-hover);
}

.botao:active{
    transform: scale(0.96);
    background-color: var(--botao-active);
}
    /*===especificos===*/
#primeiro {
  font-weight: bold;
  color: var(--texto)
}
   /*===peseudos-elementos===*/
p::before {
      content: "✨ ";
      }

      p::after {
        content: " ✨";
        }

        p::first-letter {
          font-size: 32px;
            color: hotpink;
            }